{#
    Description text for calculadoraco2.
#}

{% set form_path = path('calculadoraco2.form') %}
{% set my_logs = path('calculadoraco2.user') %}
{% set view_all_results = path('calculadoraco2.admin') %}

<p>Bienvenido a la calculadora de CO2.</p>

<p>Por favor, completa el siguiente formulario para realizar el cálculo:</p>


<p><a href="{{ form_path }}">Ir al formulario</a></p>
<p><a href="{{ my_logs}}">Ver mis registros</a></p>
<p><a href="{{ view_all_results }}">Ver todos los resultados</a></p>