{#
    Description text for calculadoraco2.
#}

{% set form_path = path('calculadoraco2.form') %}

<p>Bienvenido a la calculadora de CO2.</p>

<p>Por favor, completa el siguiente formulario para realizar el cálculo:</p>


<p><a href="{{ form_path }}">Ir al formulario</a></p>